.price-value-style {
    display: inline-block;
    border: 1px solid #888888;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #373737;
}

.btn-style {
    border: 1px solid #888888;
    border-radius: 50%;
    margin-left: 5px;
}

.input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    padding-left: 10px;
    background-color: red;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: white;
}

.initial-input-style {
    border: 2px solid darkgrey;
}

.price-input {
    border: 2px solid green;
}

.error-message {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;
}

